* text=auto !eol
plasma/tags/V2_1/tools/bintohex.c -text
plasma/tags/V2_1/tools/boot.asm -text
plasma/tags/V2_1/tools/convert.c -text
plasma/tags/V2_1/tools/count.c -text
plasma/tags/V2_1/tools/makefile -text
plasma/tags/V2_1/tools/mlite.c -text
plasma/tags/V2_1/tools/opcodes.asm -text
plasma/tags/V2_1/tools/pi.c -text
plasma/tags/V2_1/tools/test.c -text
plasma/tags/V2_1/tools/tracehex.c -text
plasma/tags/V2_1/vhdl/alu.vhd -text
plasma/tags/V2_1/vhdl/bus_mux.vhd -text
plasma/tags/V2_1/vhdl/control.vhd -text
plasma/tags/V2_1/vhdl/makefile -text
plasma/tags/V2_1/vhdl/mem_ctrl.vhd -text
plasma/tags/V2_1/vhdl/mlite_cpu.vhd -text
plasma/tags/V2_1/vhdl/mlite_pack.vhd -text
plasma/tags/V2_1/vhdl/mult.vhd -text
plasma/tags/V2_1/vhdl/pc_next.vhd -text
plasma/tags/V2_1/vhdl/pipeline.vhd -text
plasma/tags/V2_1/vhdl/plasma.vhd -text
plasma/tags/V2_1/vhdl/plasma_if.vhd -text
plasma/tags/V2_1/vhdl/ram.vhd -text
plasma/tags/V2_1/vhdl/reg_bank.vhd -text
plasma/tags/V2_1/vhdl/shifter.vhd -text
plasma/tags/V2_1/vhdl/tbench.vhd -text
plasma/tags/V2_1/vhdl/uart.vhd -text
plasma/tags/V3_0/kernel/libc.c -text
plasma/tags/V3_0/kernel/makefile -text
plasma/tags/V3_0/kernel/math.c -text
plasma/tags/V3_0/kernel/rtos.c -text
plasma/tags/V3_0/kernel/rtos.h -text
plasma/tags/V3_0/kernel/rtos_test.c -text
plasma/tags/V3_0/kernel/uart.c -text
plasma/tags/V3_0/tools/bintohex.c -text
plasma/tags/V3_0/tools/boot.asm -text
plasma/tags/V3_0/tools/convert.c -text
plasma/tags/V3_0/tools/count.c -text
plasma/tags/V3_0/tools/cpu.gif -text
plasma/tags/V3_0/tools/index.shtml -text
plasma/tags/V3_0/tools/makefile -text
plasma/tags/V3_0/tools/mlite.c -text
plasma/tags/V3_0/tools/no_os.c -text
plasma/tags/V3_0/tools/opcodes.asm -text
plasma/tags/V3_0/tools/output.txt -text
plasma/tags/V3_0/tools/pi.c -text
plasma/tags/V3_0/tools/ram_image.c -text
plasma/tags/V3_0/tools/test.c -text
plasma/tags/V3_0/tools/tracehex.c -text
plasma/tags/V3_0/vhdl/alu.vhd -text
plasma/tags/V3_0/vhdl/bus_mux.vhd -text
plasma/tags/V3_0/vhdl/code.txt -text
plasma/tags/V3_0/vhdl/control.vhd -text
plasma/tags/V3_0/vhdl/makefile -text
plasma/tags/V3_0/vhdl/mem_ctrl.vhd -text
plasma/tags/V3_0/vhdl/mlite_cpu.vhd -text
plasma/tags/V3_0/vhdl/mlite_pack.vhd -text
plasma/tags/V3_0/vhdl/mult.vhd -text
plasma/tags/V3_0/vhdl/pc_next.vhd -text
plasma/tags/V3_0/vhdl/pipeline.vhd -text
plasma/tags/V3_0/vhdl/plasma.vhd -text
plasma/tags/V3_0/vhdl/plasma_if.vhd -text
plasma/tags/V3_0/vhdl/ram.vhd -text
plasma/tags/V3_0/vhdl/ram_xilinx.vhd -text
plasma/tags/V3_0/vhdl/reg_bank.vhd -text
plasma/tags/V3_0/vhdl/shifter.vhd -text
plasma/tags/V3_0/vhdl/simili.cmd -text
plasma/tags/V3_0/vhdl/tbench.vhd -text
plasma/tags/V3_0/vhdl/uart.vhd -text
plasma/tags/Version_1_0/tools/convert.c -text
plasma/tags/Version_1_0/tools/cpu.gif -text
plasma/tags/Version_1_0/tools/index.shtml -text
plasma/tags/Version_1_0/tools/makefile -text
plasma/tags/Version_1_0/tools/mips.c -text
plasma/tags/Version_1_0/tools/output.txt -text
plasma/tags/Version_1_0/tools/test.c -text
plasma/tags/Version_1_0/vhdl/alu.vhd -text
plasma/tags/Version_1_0/vhdl/bus_mux.vhd -text
plasma/tags/Version_1_0/vhdl/code.txt -text
plasma/tags/Version_1_0/vhdl/control.vhd -text
plasma/tags/Version_1_0/vhdl/makefile -text
plasma/tags/Version_1_0/vhdl/mem_ctrl.vhd -text
plasma/tags/Version_1_0/vhdl/mips_cpu.vhd -text
plasma/tags/Version_1_0/vhdl/mips_pack.vhd -text
plasma/tags/Version_1_0/vhdl/mult.vhd -text
plasma/tags/Version_1_0/vhdl/pc_next.vhd -text
plasma/tags/Version_1_0/vhdl/ram.vhd -text
plasma/tags/Version_1_0/vhdl/reg_bank.vhd -text
plasma/tags/Version_1_0/vhdl/shifter.vhd -text
plasma/tags/Version_1_0/vhdl/tbench.vhd -text
plasma/tags/arelease/tools/convert.c -text
plasma/tags/arelease/tools/cpu.gif -text
plasma/tags/arelease/tools/index.shtml -text
plasma/tags/arelease/tools/makefile -text
plasma/tags/arelease/tools/mips.c -text
plasma/tags/arelease/tools/output.txt -text
plasma/tags/arelease/tools/test.c -text
plasma/tags/arelease/vhdl/alu.vhd -text
plasma/tags/arelease/vhdl/bus_mux.vhd -text
plasma/tags/arelease/vhdl/code.txt -text
plasma/tags/arelease/vhdl/control.vhd -text
plasma/tags/arelease/vhdl/makefile -text
plasma/tags/arelease/vhdl/mem_ctrl.vhd -text
plasma/tags/arelease/vhdl/mips_cpu.vhd -text
plasma/tags/arelease/vhdl/mips_pack.vhd -text
plasma/tags/arelease/vhdl/mult.vhd -text
plasma/tags/arelease/vhdl/pc_next.vhd -text
plasma/tags/arelease/vhdl/ram.vhd -text
plasma/tags/arelease/vhdl/reg_bank.vhd -text
plasma/tags/arelease/vhdl/shifter.vhd -text
plasma/tags/arelease/vhdl/tbench.vhd -text
plasma/trunk/kernel/dll.h -text
plasma/trunk/kernel/dlltest.c -text
plasma/trunk/kernel/ethernet.c -text
plasma/trunk/kernel/filesys.c -text
plasma/trunk/kernel/flash.c -text
plasma/trunk/kernel/http.c -text
plasma/trunk/kernel/libc.c -text
plasma/trunk/kernel/makefile -text
plasma/trunk/kernel/math.c -text
plasma/trunk/kernel/netutil.c -text
plasma/trunk/kernel/os_stubs.c -text
plasma/trunk/kernel/rtos.c -text
plasma/trunk/kernel/rtos.h -text
plasma/trunk/kernel/rtos_test.c -text
plasma/trunk/kernel/tcpip.c -text
plasma/trunk/kernel/tcpip.h -text
plasma/trunk/kernel/uart.c -text
plasma/trunk/tools/bintohex.c -text
plasma/trunk/tools/boot.asm -text
plasma/trunk/tools/bootldr.c -text
plasma/trunk/tools/convert.c -text
plasma/trunk/tools/count.c -text
plasma/trunk/tools/cpu.gif -text
plasma/trunk/tools/ddr_init.c -text
plasma/trunk/tools/etermip.c -text
plasma/trunk/tools/makefile -text
plasma/trunk/tools/mlite.c -text
plasma/trunk/tools/no_os.c -text
plasma/trunk/tools/opcodes.asm -text
plasma/trunk/tools/output.txt -text
plasma/trunk/tools/pi.c -text
plasma/trunk/tools/plasma.h -text
plasma/trunk/tools/ram_image.c -text
plasma/trunk/tools/test.c -text
plasma/trunk/tools/tracehex.c -text
plasma/trunk/vhdl/alu.vhd -text
plasma/trunk/vhdl/bus_mux.vhd -text
plasma/trunk/vhdl/cache.vhd -text
plasma/trunk/vhdl/code.txt -text
plasma/trunk/vhdl/control.vhd -text
plasma/trunk/vhdl/ddr_ctrl.vhd -text
plasma/trunk/vhdl/eth_dma.vhd -text
plasma/trunk/vhdl/makefile -text
plasma/trunk/vhdl/mem_ctrl.vhd -text
plasma/trunk/vhdl/mlite_cpu.vhd -text
plasma/trunk/vhdl/mlite_pack.vhd -text
plasma/trunk/vhdl/mult.vhd -text
plasma/trunk/vhdl/pc_next.vhd -text
plasma/trunk/vhdl/pipeline.vhd -text
plasma/trunk/vhdl/plasma.vhd -text
plasma/trunk/vhdl/plasma_3e.vhd -text
plasma/trunk/vhdl/plasma_S3E.npl -text
plasma/trunk/vhdl/plasma_if.ucf -text
plasma/trunk/vhdl/plasma_if.vhd -text
plasma/trunk/vhdl/ram.vhd -text
plasma/trunk/vhdl/ram_xilinx.vhd -text
plasma/trunk/vhdl/reg_bank.vhd -text
plasma/trunk/vhdl/shifter.vhd -text
plasma/trunk/vhdl/simili.cmd -text
plasma/trunk/vhdl/spartan3e.ucf -text
plasma/trunk/vhdl/tbench.vhd -text
plasma/trunk/vhdl/uart.vhd -text
