* text=auto !eol
tags/V2_1/tools/bintohex.c -text
tags/V2_1/tools/boot.asm -text
tags/V2_1/tools/convert.c -text
tags/V2_1/tools/count.c -text
tags/V2_1/tools/makefile -text
tags/V2_1/tools/mlite.c -text
tags/V2_1/tools/opcodes.asm -text
tags/V2_1/tools/pi.c -text
tags/V2_1/tools/test.c -text
tags/V2_1/tools/tracehex.c -text
tags/V2_1/vhdl/alu.vhd -text
tags/V2_1/vhdl/bus_mux.vhd -text
tags/V2_1/vhdl/control.vhd -text
tags/V2_1/vhdl/makefile -text
tags/V2_1/vhdl/mem_ctrl.vhd -text
tags/V2_1/vhdl/mlite_cpu.vhd -text
tags/V2_1/vhdl/mlite_pack.vhd -text
tags/V2_1/vhdl/mult.vhd -text
tags/V2_1/vhdl/pc_next.vhd -text
tags/V2_1/vhdl/pipeline.vhd -text
tags/V2_1/vhdl/plasma.vhd -text
tags/V2_1/vhdl/plasma_if.vhd -text
tags/V2_1/vhdl/ram.vhd -text
tags/V2_1/vhdl/reg_bank.vhd -text
tags/V2_1/vhdl/shifter.vhd -text
tags/V2_1/vhdl/tbench.vhd -text
tags/V2_1/vhdl/uart.vhd -text
tags/Version_1_0/tools/convert.c -text
tags/Version_1_0/tools/cpu.gif -text
tags/Version_1_0/tools/index.shtml -text
tags/Version_1_0/tools/makefile -text
tags/Version_1_0/tools/mips.c -text
tags/Version_1_0/tools/output.txt -text
tags/Version_1_0/tools/test.c -text
tags/Version_1_0/vhdl/alu.vhd -text
tags/Version_1_0/vhdl/bus_mux.vhd -text
tags/Version_1_0/vhdl/code.txt -text
tags/Version_1_0/vhdl/control.vhd -text
tags/Version_1_0/vhdl/makefile -text
tags/Version_1_0/vhdl/mem_ctrl.vhd -text
tags/Version_1_0/vhdl/mips_cpu.vhd -text
tags/Version_1_0/vhdl/mips_pack.vhd -text
tags/Version_1_0/vhdl/mult.vhd -text
tags/Version_1_0/vhdl/pc_next.vhd -text
tags/Version_1_0/vhdl/ram.vhd -text
tags/Version_1_0/vhdl/reg_bank.vhd -text
tags/Version_1_0/vhdl/shifter.vhd -text
tags/Version_1_0/vhdl/tbench.vhd -text
tags/arelease/tools/convert.c -text
tags/arelease/tools/cpu.gif -text
tags/arelease/tools/index.shtml -text
tags/arelease/tools/makefile -text
tags/arelease/tools/mips.c -text
tags/arelease/tools/output.txt -text
tags/arelease/tools/test.c -text
tags/arelease/vhdl/alu.vhd -text
tags/arelease/vhdl/bus_mux.vhd -text
tags/arelease/vhdl/code.txt -text
tags/arelease/vhdl/control.vhd -text
tags/arelease/vhdl/makefile -text
tags/arelease/vhdl/mem_ctrl.vhd -text
tags/arelease/vhdl/mips_cpu.vhd -text
tags/arelease/vhdl/mips_pack.vhd -text
tags/arelease/vhdl/mult.vhd -text
tags/arelease/vhdl/pc_next.vhd -text
tags/arelease/vhdl/ram.vhd -text
tags/arelease/vhdl/reg_bank.vhd -text
tags/arelease/vhdl/shifter.vhd -text
tags/arelease/vhdl/tbench.vhd -text
trunk/kernel/libc.c -text
trunk/kernel/makefile -text
trunk/kernel/math.c -text
trunk/kernel/rtos.c -text
trunk/kernel/rtos.h -text
trunk/kernel/rtos_test.c -text
trunk/kernel/uart.c -text
trunk/tools/bintohex.c -text
trunk/tools/boot.asm -text
trunk/tools/convert.c -text
trunk/tools/count.c -text
trunk/tools/cpu.gif -text
trunk/tools/index.shtml -text
trunk/tools/makefile -text
trunk/tools/mlite.c -text
trunk/tools/no_os.c -text
trunk/tools/opcodes.asm -text
trunk/tools/output.txt -text
trunk/tools/pi.c -text
trunk/tools/ram_image.c -text
trunk/tools/test.c -text
trunk/tools/tracehex.c -text
trunk/vhdl/alu.vhd -text
trunk/vhdl/bus_mux.vhd -text
trunk/vhdl/code.txt -text
trunk/vhdl/control.vhd -text
trunk/vhdl/makefile -text
trunk/vhdl/mem_ctrl.vhd -text
trunk/vhdl/mlite_cpu.vhd -text
trunk/vhdl/mlite_pack.vhd -text
trunk/vhdl/mult.vhd -text
trunk/vhdl/pc_next.vhd -text
trunk/vhdl/pipeline.vhd -text
trunk/vhdl/plasma.vhd -text
trunk/vhdl/plasma_if.vhd -text
trunk/vhdl/ram.vhd -text
trunk/vhdl/reg_bank.vhd -text
trunk/vhdl/shifter.vhd -text
trunk/vhdl/simili.cmd -text
trunk/vhdl/tbench.vhd -text
trunk/vhdl/uart.vhd -text
